<div class="header">
  <h1 class="welcome-text">
    Welcome to XpressChow
  </h1>
  <p class="welcome-body">
    Hi <%= @vendor.vendorname %>,
    We wanted to confirm that your new XpressChow account is registered and good to go.
  </p>
  <h3 class="welcome-end">
    Thanks for hopping aboard.
  </h3>
</div>
